# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/cioclrha/imaginegabi"
PassengerBaseURI "/"
PassengerNodejs "/home/cioclrha/nodevenv/imaginegabi/14/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END